<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>afoucher</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body  id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">Adrien Foucher Pineau</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll nav-item" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll nav-item" href="#experience">Experience</a>
            </li>
            <li>
              <a class="page-scroll nav-item" href="#skills">Skills</a>
            </li>
            <li>
              <a class="page-scroll nav-item" href="#education">Education</a>
            </li>
            <li>
              <a class="page-scroll nav-item" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Web developer</h1>
          <hr>
          <p>Hi ! My name is Adrien. Currently a third year student at ISEP, I'm passionate about the IT world and especially web development !</p>
          <div><a href="#about" class="btn btn-primary btn-xl page-scroll">Want to know more about me ?</a></div>
        </div>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-2 section-heading">
            <h2>About</h2>
            <hr class="hr-blue">
          </div>
          <div class="col-md-10 content">
            <div class="margin-top">
              <p>Since I got my first Laptop, I have been wanting to learn everything I could about computers, be it hardware or software.</p>
              <p>But it's only during my first internship as a Front-End developer that I realised that web development was actually what I wanted to do.</p>
              <p>Now in my last year of study, I'm looking for an internship where I could demonstrate my abilities and continue to learn</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="experience">
      <div class="container">
        <div class="row">
          <div class="col-md-2 section-heading">
            <h2>Experience</h2>
            <hr class="hr-white">
          </div>
          <div class="col-md-10 content">
            <div class="content-box">
              <h3 class="content-heading">Pysae</h3>
              <div class="content-date">July 2015 - December 2015</div>
              <h4 class="job-title">Front-End Developer</h4>
              <p>Pyase is a start-up developing an innovative solution of fleet management for bus companies. I created multiple user interfaces, implemented new functionalities and created an Android application</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="skills">
      <div class="container">
        <div class="row">
          <div class="col-md-2 section-heading">
            <h2>Skills</h2>
            <hr class="hr-blue">
          </div>
          <div class="col-md-10 content">
            <img src="img/skills.png" class="img-responsive">
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="education">
      <div class="container">
        <div class="row">
          <div class="col-md-2 section-heading">
            <h2>Education</h2>
            <hr class="hr-white">
          </div>
          <div class="col-md-10 content">
            <div class="content-box">
              <div class="content-date">2014-2017</div>
              <h3 class="content-heading">ISEP</h3>
              <div class="content-job">Third year student with a specialty in Software Engineering</div>
            </div>
            <div class="content-box">
              <div class="content-date">2012-2014</div>
              <h3 class="content-heading">Lycée Charlemagne</h3>
              <div class="content-job">Two years of intensive undergraduate program (Classe préparatoires) in mathematics, physics and engineering</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-2 section-heading">
            <h2>Contact</h2>
            <hr class="hr-blue">
          </div>
          <div class="col-md-10 content">
            <div class="margin-top">
              <p>You can send me a mail at this adress :</p>
              <h3>adrien.foucher42@gmail.com</h3>
            </div>
            <p class="margin-top">Or contact me on :</p>
            <div class="margin-top">
              <a class="linkedin" href="https://fr.linkedin.com/in/adrien-foucher-pineau-31b0b9ba"><img src="../img/linkedin.jpg"></a>
              <a class="github" href="https://github.com/AdrienFoucher"><img src="../img/github.png"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
    $(document).on('click','#navbar-collapse-1.in',function(e) {
      if( $(e.target).is('a') ) {
        $(this).collapse('hide');
      }
    });
    </script>

  </body>
</html>
